body{
    margin:0;
}
.header{
    width:1215px;
    position: relative;
    left:70px;
    background-color: black;
    color:white;
    height:160px;
}
.header img{
    position: relative;
    top:15px;
}
.header h1{
    position: relative;
    bottom: 125px;
    text-align: center;
}
.heading-1{
    color:rgb(199, 101, 10);
    font-size: 60px;
}
.heading-2{
    margin-top: -40px;
    font-size: 30px;
    color:rgb(47, 116, 47);
}
.container-0 nav ul li{
    justify-content: space-around;
    margin: 10px 0 0 20px;
    list-style-type: none;
    display:inline-block;
    font-size: 21px;
}
.link:hover{
    background-color:rgb(88, 199, 184);
}
.container-0 nav ul{
    background-color: rgb(53, 111, 145);
    width:1175px;
    position: relative;
    left:70px;
    bottom:17px;
    height:65px;
}
.container-0 nav ul li a{
    text-decoration: none;
    color:white;
}
.search{
    width:549px;
    height:32px;
}
.search:hover{
    font-size: 18px;
    transition:1s;
    background-color: rgb(158, 208, 228);
}
.srch{
    position: relative;
    bottom:3px;
}
.srch-img{
    position: relative;
    right:58px;
    top:8px;
}
.signin{
    position: relative;
    right:45px;
}
.account{
    position: relative;
    right:40px;
}
.container-1{
    background: url(Images/Background-Wall.jpg);
    background-size: center;
    width:1120px;
    height:460px;
    position: relative;
    bottom:33px;
    left:118px;
}
.container-1 img{
    position: relative;
    left:250px;
    top:60px;
    height:337px;
}
.container-2{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: url(Images/Background-Template.jpg);
    width:1180px;
    height:320px;
    position: relative;
    left: 87px;
    margin-bottom: 50px;
}
.container-2 > div{
    width:240px;
    height:250px;
    padding:0 20px;
    margin:10px 30px;
    position:relative;
    top:22px;
    background-color: black;
    color:white;
    text-align: center;
    border: 3px solid red;
    border-radius: 40px 0 40px 0;
    cursor:pointer;
}
.container-2 div h3{
    position: relative;
    bottom: 12px;
}
.container-2 div p{
    position: relative;
    bottom: 10px;
}
.container-2:hover{
    box-shadow: 11px 8px 10px 11px #363636;
    transition: 1s;
}
.container-2 div:hover{
    border-radius: 30px;
    box-shadow: 12px 0 0 13px #ffffff;
    transition: 1s;
}
.footer{
    background-color: black;
    color:white;
    font-size: 18px;
    height:663px;
}
.alert{
    padding:20px 0 0 280px;
}
.subscribe{
    padding: 0  0  0 390px;
}
.subscribe > input{
    width:310px;
    height:25px;
}
.subscribe > input:hover{
    transition:1s;
    background-color: grey;
    border-color: blue;
    color: #b9b8b8;
    font-size: 18px;
}
.subscribe > input:hover::placeholder{
    color: #b9b8b8;
}
.subscribe img{
    position: relative;
    top: 28px;
    cursor: pointer;
}
.subscribe p{
    font-size: 16px;
    color: #b9b8b8;
}
.services div{
    float:left;
    padding: 0 30px 0 150px;
}
.services div p{
    line-height: 10px;
}
.services div h2{
    color: #b9b8b8;
}
.follow{
    position: relative;
    top:300px;
    border-top: 2px solid #b9b8b8;
}
.follow p{
    position: relative;
    right:400px;
    font-size: 20px;
    color: #b9b8b8;
}
.follow img{
    padding-right: 20px;
    position: relative;
    right:230px;
    bottom:15px;
    left : 680
}
#insta{
    bottom:20px;
}
